<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/dashboard">Dashboard</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% if session[:username] != nil %>
                <% @user = User.find_by(username: session[:username]) %>
                <li><a>Logged As: <%="#{session[:username].capitalize}"%></a></li>
                <%else%>
                <li><a>Not Logged In</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <%end%>
                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Hacker News #1</h3>
      </div>

      <div class="jumbotron">
        <h1>User Login</h1>
        <p class="lead">Please login to create, edit and delete posts. No account? Then register an account.</p>

        <% if !@errors.nil?%>
          <% @errors.each do |error| %>
              <div class="alert alert-danger" role="alert"><%= error%></div>
            <%end%>
          <% end %>

        <p><form action='/login' method='post'>
          <div class="form-group">
            <input type="username" class="form-control" name="user[username]" placeholder="Username" required="true">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="user[password]" placeholder="Password" required="true">
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Login to Dashboard</button>
        </form></p>
      </div>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

</div> <!-- /container -->


